div {
   color: blue;
   text-align: center;
   font-family:'Times New Roman', Times, serif;
   padding: 20px;
   margin: 10px;
}

h2 {
   color: red;
   text-align: right;
   font-family:'Times New Roman', Times, serif;
   padding: 10px;
}

a {
    color: rebeccapurple;
}